@use '../styles/color';
@use '../styles/base';


.panel {
  position: relative;
  border: 1px solid color.$dark;
  border-radius: base.$borderRadius;
  margin: 0px 5px 10px 5px;
  flex: 1 1 base.$idealContentWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (max-width: base.$mobileBreak) {
    margin: 0px 5px 4px 5px;
  }
}

$innerBorderRadius: base.$borderRadius - 1;

// Styling for Outset Component
.outsetWrap {
  display: flex;
  z-index: 1;
}

@mixin outsetOrient($orient, $x, $y, $fontSize) {
  padding: $y $x;
  @if $orient == 'top' {
    margin-left: -$x;
    margin-top: -$y;
  } @else {
    margin-left: -$x;
    margin-bottom: -$y;
  }
  font-size: $fontSize;
  // backdrop filter still not completely supported, but soon..
  backdrop-filter: blur(3px);
  background-color: scale-color(color.$light, $alpha: -50%);
  border-radius: base.$borderRadius;
  box-shadow: 2px 2px 2px 1px color.$shadow;
}

.topOutset {
  @include outsetOrient('top', 4px, 1px, 1.5em);
}

.bottomOutset {
  @include outsetOrient('bottom', 4px, 1px, 1em);
}
////////////////////////////

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $innerBorderRadius;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: $innerBorderRadius;
  @media (max-width: base.$mobileBreak) {
    padding: 10px 20px;
  }
}

.underlay {
  opacity: 60%;
  width: 100%;
  height: 100%;
  background-color: mix(color.$light, color.$dark, $weight: 90%);
  border-radius: $innerBorderRadius;
  margin-top: -15px;
  margin-left: -15px;
  position: absolute;
  @media (max-width: base.$mobileBreak) {
    margin-top: -10px;
    margin-left: -20px;
  }
}

.foot {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.size {
  padding-bottom: 1px;
}

.button {
  padding: 2px 20px;
}

