@use '../styles/color';
@use './Modal.module.scss';


.dropTarget {
  width: 60%;
  @include Modal.modalContent;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1.5px dashed color.$dark;
  border-radius: 3px;
}
