
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  background-color: white;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  padding: 1em;
}

.button {
  font-size: 1rem;
  height: 35px;
  text-transform: uppercase;
  padding: 0px 45px;
}
