@use '../styles/color';
@use '../styles/base';

.searchForm {
  width: 50%;
  @media (max-width: base.$mobileBreak) {
    width: 100%;

  }
}

.searchInput {
  height: 35px;
  width: 100%;
  background-color: color.$light; 
  border-radius: 2px;
  padding-left: 10px;
  font-size: 1rem;
}

.searchInput:focus {
  border-radius: 4px;
}

