/*
 * Common sass artifacts
 */


$contentMax: 960px;
$contentGap: 10px;
$idealContentWidth: ($contentMax - ( 2 * $contentGap )) / 3;

$mobileBreak: 499px;
$tabletBreak: 830px;


$borderRadius: 3px;




%sandwichContent {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}


/*
 *  Common SCSS mixins and functions
 */

@mixin transform($property) {
  transform: $property;
}


@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($property) {
  animation: $property;
}

