/*
 * Color variables
 */

$sunset: #F28DA8;
$lavender: #BF6FFA;
$aqua: #22CCF2;
$duskLight: #312DA6;
$duskDark: #0C1059;
$night: #020426;
$electric: #F2D479;
$dark: #222526;
$light: #F7F7F7;

$shadow: rgba(0, 0, 0, 0.2);
